//
// SITE TITLE
// ==========
//


.site-title
  display block
  white-space nowrap
  color $color--white

  span
    font-weight bold
    color $color--primary

  a&:hover
  a&:active
  a&:focus
    color $color--primary
    text-decoration underline

  i
    vertical-align middle
    margin-right $spacing--default * 0.5

  svg
    width 30px

  path
    fill $color--primary
