.widget-picker__item
  padding $spacing--default * 0.5
  flex 1 0 130px
  border-bottom 1px solid $color--grey-75
  border-right 1px solid $color--grey-75

  text-transform uppercase
  color $color--grey-50
  font-size 0.9em
