//
// SITE TITLE
// ==========
//


.site-title
  display block
  padding 14px 10px
  white-space nowrap
  color $color--white
  text-align center

  span
    font-weight bold
    color $color--primary

  a&:hover
  a&:active
  a&:focus
    color $color--primary
    text-decoration underline

  .icon
    vertical-align top

  path
    fill $color--primary
