//
// SITE TITLE
// ==========
//


.site-title
  display block
  height 52px
  width 52px
  white-space nowrap
  display flex
  align-items center
  justify-content center
  color $color--white
  text-align center

  span
    font-weight bold
    color $color--primary

  a&:hover
  a&:active
  a&:focus
    color $color--primary
    text-decoration underline

  .icon
    vertical-align top

  path
    fill $color--primary
