//
// USER NAVIGATION
// ===============
//

.user-navigation
  width 100%
  padding $spacing--default
  line-height 1
  background-color $color--grey

.user-navigation__inner
  display flex

.user-navigation__avatar
  //

.user-navigation__content
  flex 1 0 auto
  padding-left $spacing--default * 0.5

.user-navigation__name
  font-weight bold

.user-navigation__links
  margin -10px
  padding-top 10px

  a
    display block
    padding 10px
