//
// DROPDOWN
// ========
//


.dropdown
  display inline-block
  position relative

.dropdown__list
  margin-top 2px
  position absolute
  top 100%
  overflow hidden
  transform-origin 0 0
  z-index 100
  max-height none
  overflow-y auto
  border 1px solid $color--grey-90
  box-shadow 0 2px 5px rgba($color--black, 0.1)

.dropdown__list--left
  left 0

.dropdown__list--right
  right 0
