.search
  display flex
  flex 1 0 auto
  max-width 400px

  .control
    border-top-left-radius $border-radius--default
    border-bottom-left-radius $border-radius--default
    background-color rgba($color--white, 0.2)
    border 0
    color $color--white
    caret-color currentColor // @stylint ignore

  ::placeholder
    color rgba($color--white, 0.5)

  .button
    border-top-left-radius 0
    border-bottom-left-radius 0
