//
// COLOUR SETTINGS
// ===============
//

$color--pink   = #eb4b5c // .50mm
$color--orange = #ec765c // .60mm
$color--yellow = #e8d135 // .73mm
$color--green  = #57a65e // .88mm
$color--blue   = #4f86a9 // 1.0mm
$color--purple = #9c5386 // 1.14mm

$color--black = #000
$color--grey-0 = hsl(0, 0, 0)
$color--grey-10 = hsl(0, 0, 10%)
$color--grey-25 = hsl(0, 0, 25%)
$color--grey-50 = hsl(0, 0, 50%)
$color--grey-75 = hsl(0, 0, 75%)
$color--grey-90 = hsl(0, 0, 90%)
$color--grey-95 = hsl(0, 0, 95%)
$color--white = #fff

$color--primary = $color--purple

// State Colours
$color--success = #47a967
$color--notice  = #4791a9
$color--warning = #dc7f2a
$color--error   = #ca4427
