//
// TOOLBAR
// =======
//


.toolbar
  background-color $color--primary
  color $color--white
  padding ($spacing--default * 0.5) $spacing--default

  display flex
  flex-wrap wrap

.toolbar__inner
  max-width 100%
