.widget-form
  border 1px solid $color--grey-75
  margin-bottom $spacing--default * 0.5

.widget-form__header
  padding ($spacing--default * 0.5) $spacing--default
  text-align left

  text-transform uppercase
  color $color--grey-50
  font-size 0.9em

.widget-form__content
  border-top 1px solid $color--grey-75
  padding $spacing--default
