.overflow-wrapper
  position relative

  // > .icon
  //   display none
  //   position absolute
  //   bottom 100%
  //   right 0
  //   margin-bottom $base--spacing
  //
  // &.has-overflow
  //   > .icon
  //     display block

.overflow-wrapper__content
  overflow-x auto
  -webkit-overflow-scrolling touch
