//
// MINIMAL
// =======
//

.minimal
  height 100%
  background-color $color--primary
  padding $spacing--default

  +width-min($mq--tablet)
    display flex
    align-items center
    justify-content center

.minimal__inner
  background $color--white
  padding $spacing--default
  flex-basis 500px
