//
// HEADING
// =======
//

.heading
  font-size rem(30)
  line-height 1
  margin-bottom $spacing--default

.heading--huge
  font-size rem(40)
  margin-bottom $spacing--default * 2

.heading--small
  font-size rem(20)
