//
// USER NAVIGATION
// ===============
//

.user-navigation
  width 100%
  max-width 100%
  padding $spacing--default
  line-height 1
  background-color $color--grey-15
  border-bottom 1px solid $color--grey-25
  color $color--white
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.user-navigation__inner
  display flex

.user-navigation__avatar
  //

.user-navigation__content
  flex 1 1 auto
  padding-left $spacing--default * 0.5

.user-navigation__name
  font-weight bold

.user-navigation__links
  margin -10px
  padding-top 10px

  a
    display block
    padding 10px
