.default
  height 100%
  display flex
  flex-direction column

  +width-min($mq--tablet)
    flex-direction row

.default__item
  display flex
  flex-direction column
  flex 0 0 auto

.default__item--grow
  flex 1 1 auto
  overflow hidden // Stops wide tables breaking page layout

// TODO - this needs to be better
.default__content-wrapper
  position relative
  flex 1 1 0
  display flex
  flex-direction column
  box-shadow 0 0 30px rgba($color--white, 1) inset

.default__content-wrapper-inner
  position relative
  flex 1 1 0
  display flex
  flex-direction column
  transition all 300ms ease-out

  &.is-blurred
    filter blur(1px)
