//
// CONTENT GUTTER
// ==============
// Ensures content doesn't touch browser edges on smaller screens
//

.content-gutter
  padding-left $spacing--default * 0.5
  padding-right $spacing--default * 0.5

  +width-min($mq--tablet)
    padding-left $spacing--default
    padding-right $spacing--default

  +width-min($mq--desktop--medium)
    padding-left $spacing--default * 2
    padding-right $spacing--default * 2
