//
// MULTI SELECT LIST
// =================
//


.multi-select-list
  //

.multi-select-list__inner
  overflow-y auto
  padding-top 5px
  padding-bottom 5px

.multi-select-list__feedback
  padding 5px 15px
  font-size 0.8em
  text-transform uppercase
  color $color--grey-50

.multi-select__mark
  background-color yellow
  margin 0
  padding 0
