//
// MULTI SELECT SEARCH
// ===================
//


.multi-select-search
  padding 5px
  min-width 300px
  display flex
  border-bottom 1px solid $color--grey-90

  .button
    border-top-left-radius 0
    border-bottom-left-radius 0
