//
// MULTI SELECT LIST
// =================
//


.multi-select-list
  position relative

  &:before
  &:after
    content ''
    position absolute
    left 0
    right 0
    height 5px

  &:before
    top 0
    background-image linear-gradient(to bottom, rgba($color--white, 0.5), rgba($color--white, 0))

  &:after
    bottom 0
    background-image linear-gradient(to top, rgba($color--white, 0.5), rgba($color--white, 0))

.multi-select-list__inner
  overflow-y auto
  padding-top 5px
  padding-bottom 5px

.multi-select-list__feedback
  padding 5px 15px
  font-size 0.8em
  text-transform uppercase
  color $color--grey-50

.multi-select__mark
  background-color yellow
  margin 0
  padding 0
