//
// TOOLBAR
// =======
//


.toolbar
  background-color $color--primary
  color $color--white
  flex 0 0 auto
  display flex

  .button
    white-space nowrap

.toolbar__inner
  max-width 100%
  flex 1 1 auto
  display flex
  flex-wrap wrap
  justify-content space-between
  padding $spacing--default * 0.5

  +width-min($mq--tablet)
    padding-left $spacing--default
    padding-right $spacing--default

  +width-min($mq--desktop--medium)
    padding-left $spacing--default * 2
    padding-right $spacing--default * 2

.toolbar--light
  background-color $color--white
  color inherit
  border-bottom 1px solid $color--grey-75
