//
// FIELD
// =====
// These lay out controls, labels and additional elements within the context
// of a form
//

.field
  text-align left
  margin-bottom $spacing--default * 2

.field__question
  margin-bottom ($spacing--default / 2)
  display inline-block
  color $color--grey-75

.field__assistance
  margin-top ($spacing--default / 2)
  color $color--grey-50
  font-size 0.9em

.field__feedback
  margin-top ($spacing--default / 2)

  .field--error &
    color $color--error

  .field--success &
    color $color--success

  .field--notice &
    color $color--notice

  .field--warning &
    color $color--warning


.field-fade-enter
  opacity 0.01
  max-height 0
  overflow hidden

.field-fade-enter.field-fade-enter-active
  opacity 1
  transition max-height 250ms ease-in, opacity 250ms 250ms ease-in
  max-height 120px

.field-fade-leave
  opacity 1
  overflow hidden  max-height 0
  max-height 120px

.field-fade-leave.field-fade-leave-active
  opacity 0.01
  transition max-height 250ms 250ms ease-in, opacity 250ms ease-in
  max-height 0


.field--feature
  .field__question
    margin-bottom 0




.field--inline-muted
  display flex

  .field__answer
    flex-grow 1

  .field__question
    margin-bottom 0
    margin-right 5px
    display flex
    align-items center
    border-bottom 1px solid transparent // Match control offset

    & > *:last-child

      &:after
        content ':'
