.snackbar
  position fixed
  bottom $spacing--default
  left 0
  right 0
  max-width 300px
  margin auto
  padding ($spacing--default * 0.25) ($spacing--default * 0.5)

  background-color $color--grey-15
  color $color--white
  border-radius $border-radius--default
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
