//
// NAVIGATION
// ==========
//


.navigation
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  background-color $color--dark-grey
  +width-min($mq--tablet)
    flex 1 1 0
    display flex


.navigation__inner
  flex 1 1 auto
  overflow-y auto
  min-height 0
  padding $spacing--default

  h3
    font-weight bold

    &:not(:first-child)
      margin-top $spacing--default

  li
    display block

    li
      margin-left 20px

    ul
      // TODO: Better a11y hiding method
      display none

    a.is-active + ul
      display block



.navigation__link
  display block
  color $color--white

  &.is-active
    color $color--primary
    text-decoration none

  &:hover
  &:active
  &:focus
    color $color--primary
    text-decoration underline
